{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/login.css' %}">
    <link rel="icon" href="../static/images/logo.jpg" type="image/icon type">
    <!-- Bootstrap5 CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <title>{% block title %} {% endblock %}</title>
</head>
    <body>
    <div class="hintergrund"
         style= "background-image: url('../static/images/background.jpg'); ">
        <div
            class="color-overlay d-flex justify-content-center align-items-center text-center">
            <form class="form-login" method="post">
                {% csrf_token %}
                <img src="../static/images/logo.jpg" width="90" height="90" alt="Logo">
                {% block form %}
                {% endblock %}
            </form>
        </div>
    </div>
    </body>
</html>